@page
@model IndexModel
@{
    ViewData["Title"] = "Sundaday";
}

<div class="text-center">
    <h1 class="display-4">Prout</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">SUCK FUNDADY</a>.</p>
</div>
